[workspace]
resolver = "3"
members = ["common","firmware", "server"]

[profile.release]
opt-level = "s"

[profile.dev]
debug = true    # Symbols are nice, and they don't increase the size on Flash
opt-level = "z"
