[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
common = { path = "../common" }
cobs = { version = "0.5", features = ["serde"] }
serialport = "4.8"
log = "0.4"
env_logger = "0.11"